body {
  background-color: aquamarine;
}
.container {
  background-color: #696868;
}
.heading {
  border-bottom: 2px dotted indianred;
  text-align: center;
}
.btn-info {
  width: 50%;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
ul li a {
  color: orange;
  display: inline;
}
ul li a:hover {
  color: red;
}
