html {
  height: 100%;
  font-size: xx-large;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 100%;
  animation: gradient 15s ease infinite;
}

.container {
  background-color: #d8b7b7;
}
.heading {
  border-bottom: 2px dotted indianred;
  text-align: center;
}
.btn-info {
  width: 50%;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.contact {
  color: midnightblue;
}
.jumbot {
  background-color: purple;
  color: lightgreen;
  text-align: center;
  font-weight: bolder;
}
ul li a #whatsapp {
  color: chocolate;
  font-size: 60px;
  float: left;
}
ul li a #fb {
  color: cornflowerblue;
  font-size: 60px;
  float: left;
}
ul li a #ig {
  color: orange;
  font-size: 60px;
  float: left;
}
ul li a #yt {
  color: red;
  font-size: 60px;
  float: left;
}
ul li a #whatsapp,
#fb,
#ig,
#yt {
  padding-top: 5%;
  padding-left: 10%;
  letter-spacing: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
