html {
  font-size: xx-large;
}
/* Set the size of the div element that contains the map */
#map {
  height: 100vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.jumbot {
  background-color: purple;
  color: lightgreen;
  text-align: center;
  font-weight: bolder;
}
ul li a #whatsapp {
  color: chocolate;
  font-size: 60px;
  float: left;
}
ul li a #fb {
  color: cornflowerblue;
  font-size: 60px;
  float: left;
}
ul li a #ig {
  color: orange;
  font-size: 60px;
  float: left;
}
ul li a #yt {
  color: red;
  font-size: 60px;
  float: left;
}
ul li a #whatsapp,
#fb,
#ig,
#yt {
  padding-top: 5%;
  padding-left: 10%;
  letter-spacing: 20px;
}
