html {
  height: 100%;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 100%;
  animation: gradient 15s ease infinite;
}
.brand {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  color: darkslategrey;
  position: absolute;
  top: 20vh;
  left: 20vh;
}
.social-media {
  color: aliceblue;
}
#table-program {
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*
Test for church */
#m,
#e,
#s,
#s2,
#e2,
#n,
#g,
#e3,
#r,
#s3,
#o,
#f,
#r2,
#e4,
#d,
#e5,
#m2,
#p,
#t,
#i,
#o2,
#n2 {
  font-size: 50px;
  font-weight: bolder;
}
#m {
  animation: m 60s infinite;
}
#e {
  animation: e 60s infinite;
}
#s {
  animation: s 60s infinite;
}
#s2 {
  animation: s2 60s infinite;
}
#e2 {
  animation: e2 60s infinite;
}
#n {
  animation: n 60s infinite;
}
#g {
  animation: g 60s infinite;
}
#e3 {
  animation: e3 60s infinite;
}
#r {
  animation: r 60s infinite;
}
#s3 {
  animation: s3 60s infinite;
}
#o {
  animation: o 60s infinite;
}
#f {
  animation: f 60s infinite;
}
#r2 {
  animation: r2 60s infinite;
}
#e4 {
  animation: e4 60s infinite;
}
#d {
  animation: d 60s infinite;
}
#e5 {
  animation: e5 60s infinite;
}
#m2 {
  animation: m2 60s infinite;
}
#p {
  animation: p 60s infinite;
}
#t {
  animation: t 60s infinite;
}
#i {
  animation: i 60s infinite;
}
#o2 {
  animation: o2 60s infinite;
}
#n2 {
  animation: n2 60s infinite;
}
/*
Styling the letters in the spans using their ids.
Apply animation to the spans and measure the duration it lasts.
*/

/* 
Give a shifting color change to the styled letters in linear order.
Specify percentages of the animation's duration, i.e., 12.5% * 3 seconds.
*/

@keyframes m {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes e {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes s {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes s2 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes e2 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes n {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes g {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes e3 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes r {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes s3 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes o {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes f {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes r2 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes e4 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes d {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes e5 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes m2 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes p {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes t {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes i {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes o2 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
@keyframes n2 {
  0% {
    color: black;
  }
  4% {
    color: aliceblue;
  }
  9% {
    color: rgb(177, 243, 22);
  }
  13% {
    color: rgb(38, 143, 235);
  }
  18% {
    color: rgb(248, 108, 201);
  }
  22% {
    color: rgb(202, 163, 126);
  }
  27% {
    color: brown;
  }
  32% {
    color: orange;
  }
  36% {
    color: indigo;
  }
  40% {
    color: rgb(245, 237, 229);
  }
  44% {
    color: rgb(153, 211, 142);
  }
  49% {
    color: rgb(231, 94, 39);
  }
  54% {
    color: pink;
  }
  59% {
    color: orangered;
  }
  63% {
    color: yellowgreen;
  }
  67% {
    color: blueviolet;
  }
  71% {
    color: rgb(184, 225, 241);
  }
  75% {
    color: rgb(109, 182, 245);
  }
  79% {
    color: maroon;
  }
  86% {
    color: black;
  }
  94% {
    color: rgb(230, 101, 154);
  }
  100% {
    color: rgb(104, 114, 117);
  }
}
