body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 100%;
  animation: gradient 15s ease infinite;
}
.jumbo {
  background-color: cadetblue;
  height: 30vh;
  text-align: center;
  padding-top: 10vh;
  color: azure;
  font-size: 30px;
}
.praying-emoji {
  font-size: xx-large;
}
.topic {
  padding-top: 5vh;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.center-paragraph {
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  word-spacing: 15px;
}
.contact {
  color: aquamarine;
}
.jumbot {
  background-color: purple;
  color: lightgreen;
  text-align: center;
  font-weight: bolder;
}
ul li a #whatsapp {
  color: chocolate;
  font-size: xx-large;
  float: left;
}
ul li a #fb {
  color: cornflowerblue;
  font-size: xx-large;
  float: left;
}
ul li a #ig {
  color: orange;
  font-size: xx-large;
  float: left;
}
ul li a #yt {
  color: red;
  font-size: xx-large;
  float: left;
}
ul li a #whatsapp,
#fb,
#ig,
#yt {
  padding-top: 5%;
  padding-left: 10%;
  letter-spacing: 20px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
