Skip
  to
  content
  Search
  or
  jump
  to…
  Pull
  requests
  Issues
  Marketplace
  Explore
  @DanielKaniu
  DanielKaniu
  /
  Church
  Private
  1
  00
  Code
  Issues
  Pull
  requests
  Actions
  Projects
  Security
  Insights
  Settings
  Church/public/index.css
  @DanielKaniu
  DanielKaniu
  few
  changes
  + map
  Latest
  commit
  106e455
  12
  days
  ago
  History
  1
  contributor
  77
  lines
  (72 sloc)
  1.24
  KB
  body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*
  Style the navbar to be on top of the background video*/
.navbar {
  z-index: 1;
}

/*
  Style the container housing the background video and the text*/
.banner {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
  Style the video*/
.banner video {
  position: absolute;
  top: 0%;
  left: 0%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .content {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-left: 0;
}
/*
  Style the heading which is over the background video*/
.banner .content h1 {
  margin: 0%;
  padding: 0%;
  font-size: 4.5em;
  text-transform: uppercase;
  color: white;
}
/*
  Style the heading which is over the background video*/
.banner .content p {
  font-size: 1.5em;
  color: white;
}
